/* CORES PARA MODO CLARO (Padrão) */
:root {
    --bg-body: #f4f7f4;         
    --bg-card: #ffffff;         
    --text-main: #152614;       
    --input-bg: #f9f9f9;
    --input-border: #e0e0e0;
    
    /* Cores da paleta fixa */
    --dark-green: #152614;
    --forest-green: #2A7221;
    --leaf-green: #119822;
}

/* CORES PARA MODO ESCURO (Detecta o sistema/navegador) */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-body: #152614;     
        --bg-card: #1c1c1c;     
        --text-main: #f4f7f4;   
        --input-bg: #2a2a2a;
        --input-border: #333;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1;
}

input {
    cursor: pointer;
    background-color: var(--input-bg);
    border: 2px solid var(--input-border);
    color: #333;
    padding: 12px 15px;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

label {
    font-family: "Google Sans";
    font-weight: bold;
    display: block;
    color: var(--leaf-green);
    font-size: 0.9rem;
    margin-bottom: 6px;
}

.Informacoes-cadastro {
    width: 20vw;
}

.titulo {
    font-family: "Montserrat";
    color: var(--leaf-green);
    margin-bottom: 25px;
    font-size: 1.8rem;
}

#confirmBt {
    background-color: var(--forest-green);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
    box-shadow: 0 4px 15px rgba(42, 114, 33, 0.3);
}

#confirmBt:hover {
    background-color: var(--leaf-green);
    box-shadow: 0 6px 20px rgba(42, 114, 33, 0.4);
}

.login-link a {
    color: var(--forest-green);
    text-decoration: none;
    font-weight: 500;
}

.login-link a:hover {
    color: var(--bright-green);
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

.row {
    display: flex;
    gap: 20px;
    width: 100%;
}

input:focus {
    border-color: var(--leaf-green);
    box-shadow: 0 0 10px rgba(17, 152, 34, 0.2);
    transform: translateY(-2px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--dark-green) !important;
    background-image: url("../register/resources/pexels-shvetsa-5029853.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    padding-left: 10%;
}

.cadastro-card {
    background: #1c1c1c;
    color: white;
    padding: 40px;
    border-radius: 24px;
    width: 25vw;
    min-width: 400px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    border-left: 10px solid var(--forest-green);
}