.field {
    margin-bottom: 10px;
}

input {
    cursor: pointer;
}

label {
    font-family: "Google Sans";
    font: bold;
}

.Informacoes-cadastro {
    width: 20vw;
}

.titulo {
    font-family: "Montserrat";
}